@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
body {
    font-family: 'Lato';
    background-color: #f0f0f0;
    margin: 0px auto;
    padding: 10px;
    max-width: 1150px;
    text-align: center;
}

h2 {
    font-weight: 400;
}

font {
    font-size: 40px;
}